extends ../layout.pug

block content

	include ../_navigation-menu.pug

	div(class='container')
		div(class='jumbotron')
			div(class='logo_banner_div')
				h2 Welcome to ANTHILL, by using the service you agree to these fairly standard Terms and Conditions.


	div(class='container')
		div(class='row')
			div(class='col-sm-12')
				div(class='panel panel-primary')
					div(class='panel-heading') Stay safe
					div(class='panel-body')
						div.
							<h2>Safety Tips</h2>

							<h3>Report anything suspicious</h3>

							<p>Email the team at <a href='mailto:hello@theanthill.io'>hello@theanthill.io</a> if you are suspicious and want to let us know of any listing, organisation or person you would like us to investigate. We take all information passed to us seriously and in confidence.</p><p>If there is a report button, or other mechanism on the site then use it.</p><p>If the content is presented from another source, consider reporting it to them too. We will likely take that action after investigating the material here first.</p>

							<h3>Use your senses</h3>

							<ul>

							<li>
							If something seems too good to be true - it most likely is.
							</li>
							<li>
							Beware of scams. These appear from time to time. If you spot them please report it to the team so we can investigate and take action.
							</li>
							<li>
							If you are meeting someone for the first time, consider bringing a friend if you are unsure. If there are any problems first consider contacting the police, and then contact us so we can investigate and take any further action that may be required.
							</li>
							<li>If you are unsure about a first meeting, suggest meeting in a public place, like a coffee shop, and then decide if you want to continue from there.</li>
							<li>Take a phone to meetings, tell your friends and family that you are going and where you are going.</li>
							
							</ul>

							<h3>Ask to see any documents you believe should be available</h3>
							<h3>Avoid clicking strange links users may be trying to post</h3>
							<h3>If you take cash, double check the notes are real and the amount is correct</h3>
							<h3>Be wary of people asking for strange payment methods</h3>
							<h3>If a user wants to pay extra, and you pay them back - this is always a scam, and you will end up out of pocket</h3>
							<h3>Don't give out personal information. (Bank details, or anything else that can identify you)</h3>
